


img.resize {
    width:30%; /* you can use % */
    height: auto;
}

body
{
	background: white;
}

div.maincolor {
	background: #6699d1;
}

header.maincolor {
	background: #6699d1;
}
nav.mainNav {
	background: #f16046;
}

h2.pad {
	padding-bottom: 30px;
}

div.categories{
	background:#f16046;
}