


img.resize {
    width:30%; /* you can use % */
    height: auto;
}

body
{
	background: white;
}

div.maincolor {
	background: #d8d1c0;
}

header.maincolor {
	background: #d8d1c0;
}
nav.mainNav {
	background: #280228;
}

h2.pad {
	padding-bottom: 30px;
}

div.categories{
	background:#3d033d;
}