.darkBG{
	background:#FFFAF0;
}

.darkestBG{
	background:#660033;
}

.verticalLine {
	border-left: thick solid #ff0000;
}

.navbar {
	background: #F0F8FF;

}
.maintext {
	color: #660033;
    text-align: left;
    padding-top: 50px;
}
.smalltext {
	font-size : 10pt;
	font-color: #C0C0C0;
	text-align: center;
}
.headimage {
	vertical-align: right;
	width: 300px;
	height: 300px;
    border-radius: 50%;

}
img {
    display: block;
    margin: 0 auto;
}

h4 {
	padding-left: 20px;
}

h5 {
	text-align:center;
}


/* colors dark red #800000 dark purple #660033, light gray 